body{margin:0;padding:0;background:#E0FFFF;overflow:auto}
#mainDiv{width:100%;height:100%}
#loveHeart{float:left;width:670px;height:625px}
#garden{width:100%;height:100%}
#elapseClock{text-align:right;margin-top:10px;margin-bottom:10px}
#words{font-family:"寰蒋闆呴粦";width:505px;;color:#666}
#messages{display:none;font-size:18px;font-family:"STXingKai"}
#elapseClock .digit{font-family:"寰蒋闆呴粦"}
#loveu{padding:5px;margin-top:50px;margin-right:120px;text-align:right;display:none}
#loveu .signature{margin-top:10px;font-style:italic}
#code{float:left;width:440px;height:400px;color: #FF7383;font-size:12px;font-family:"寰蒋闆呴粦","Monaco","Bitstream Vera Sans Mono","Courier New","sans-serif";#code .string{color:#2a36ff}#code .keyword{color:#7f0055;font-weight:bold}#code .placeholder{margin-left:15px}#code 
